<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LugarTorneoServlet</servlet-name>
        <servlet-class>controlador.LugarTorneoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisServlet</servlet-name>
        <servlet-class>controlador.PaisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NacionalidadServlet</servlet-name>
        <servlet-class>controlador.NacionalidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoServlet</servlet-name>
        <servlet-class>controlador.TorneoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoModalidadFaseServlet</servlet-name>
        <servlet-class>controlador.TorneoModalidadFaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LugarTorneoServlet</servlet-name>
        <url-pattern>/LugarTorneoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisServlet</servlet-name>
        <url-pattern>/PaisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NacionalidadServlet</servlet-name>
        <url-pattern>/NacionalidadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoServlet</servlet-name>
        <url-pattern>/TorneoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoModalidadFaseServlet</servlet-name>
        <url-pattern>/TorneoModalidadFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
